.site-header{
    height: 5em;
}

.entry-title{
    color: #050f59;
    font-family: "PT Serif",Georgia,"Times New Roman",serif;
    font-size:xx-large;
}

#prevEmployment{
    width: 80vw;
}

#overviewMethods{
    list-style: unset;
    margin-left: 1.5em;
}

#overviewMethods li{
    margin: 0.3em 0;
}

#overviewMethods > li > p{
    margin-bottom: unset;
}

.main-navigation{
    border-top: solid #c22004 3px!important;
}

#removeBorderTop:hover{
    border-top-color: unset;
}

.imgContainer{
    position: relative;
    top: 3rem;
    width: 80vw;
}

.flexImgList{
    margin: 1em 1em;
}

.flexImgList img{
    margin: 0 0.5em;
    width: 310px;
    height: 225px;
}

.flexImgList iframe{
    margin: 0 0.5em;
    width: 310px;
    height: 225px;
}
@media screen and (max-width: 767px){

    .site-header{
        height: unset;
    }

    .imgContainer{
        margin-left: auto;
        margin-right: auto;
    }

    .flexImgList{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}